<script>
    const supportsStorage = 'localStorage' in window;
    const modeSwitch = document.getElementById("mode-switch");
    let firstTime = true;
    let darkModeOn = true;
    if (supportsStorage) {
        darkModeOn = localStorage.getItem('darkMode') == 'true';
        localStorage.setItem('darkMode', darkModeOn);
        switchMode();
        firstTime = false;
    }

    function switchMode() {

        if (firstTime) {
            darkModeOn = !darkModeOn;
        }

        if (darkModeOn) {
            modeSwitch.classList.remove('dark');
            modeSwitch.classList.add('light');
            document.body.classList.remove('dark');
        } else {
            modeSwitch.classList.add('dark');
            modeSwitch.classList.remove('light');
            document.body.classList.add('dark');
        }

        darkModeOn = !darkModeOn;
        if (!firstTime) {
            if (supportsStorage) {
                localStorage.setItem('darkMode', darkModeOn);
            }
        }
    }

    modeSwitch.addEventListener('click', switchMode);
</script>