@import url('https://fonts.googleapis.com/css?family=Dosis|Cutive+Mono|Comfortaa');

body {
  //background-color: #ffeb3b;
  background-color: #f1f1f1;
  color: #1f1f1f;
  font-family: 'Comfortaa', serif;
  font-size: 16px;
  line-height: 1.5em;
}

body.dark {
  color: #f1f1f1;
  background-color: #1f1f1f
}

body.dark a {
  color: #f95758;
}

h1, h2, h3 {
  font-family: 'Dosis', sans-serif;
  line-height: normal;
}

.site-title {
  border-bottom: 2px double;
  padding-bottom: 5px;
}

h3 {
  padding-bottom: 5px;
  border-bottom: 1px dashed;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.container-center {
  width: 50%;
  margin: 5px;
}

.container-center-post {
  width: 75%;
}

ul {
  position: relative;
  list-style: none;
  padding-left: 1.2em;
}

ul li:before {
  content: "+";
  position: absolute;
  left: 0;
}

a {
  color: #f95758;
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
  text-decoration: underline;
}

#mode-switch {
  float: right;
  cursor: pointer;
}

#mode-switch.light:after {
  content: "☾";
  font-size: 25px
}

#mode-switch.dark:after {
  content: "☼";
}

@media screen and (max-width: 750px) {
  .container-center, .container-center-post {
    width: 90%;
  }
}

@media screen and (min-width: 1300px) {
  .container-center-post {
    width: 50%;
  }
}