/**
 * Code formatting
 */

.post-title {
  text-align: center;
  font-size: 1.7em;
}

h2 {
  border-bottom: none;
  &.footer-links{
    border-bottom: 1px dashed;
  }
}

.post-detail {
  text-align: left;
  font-size: small;
}

.post-detail #mode-switch {
  font-size: 30px;
}

hr {
  border: groove 0.5px;
}

body.dark code, body.dark pre {
  background-color: #313131;
}

pre,
code {
  font-size: 16px;
  border-radius: 3px;
  background-color: #bbb;
  font-family: 'Cutive Mono', monospace;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
