---
layout: default
---
<div class="container-center-post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-detail">
            <hr/>
            <span id="mode-switch" class="dark"></span>
            <div class="post-date-author">
                {{ page.date | date: "%-d %b %Y" }}
                {% if page.author %} • by <a href="/" target="_self">{{ page.author }}</a>{% endif
                %}
            </div>
        </div>
    </header>
    {{ content }}

    {% if page.next or page.previous %}
    <h2 class='footer-links'>Other posts</h2>
    <ul>
        {% if page.next %}
        <li>
            <a href="{{ page.next.url }}">{{ page.next.title }}</a>
        </li>
        {% endif %}

        {% if page.previous %}
        <li>
            <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</div>
